#before-and-after {
  height: 70vh;
  overflow: hidden;
  width: 100%;
}

#before-and-after figure {
  background-size: auto 100vh;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

#after {
  background-size: auto 100vh;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

/* Smaller screen */
@media (max-width: 900px) {
  #before-and-after {
    height: 50vh;
  }

  #before-and-after figure {
    background-position: -40vw;
    background-size: auto 80vw;
    height: 100vw;
  }
  #after {
    background-position: -40vw;
    background-size: auto 80vw;
    height: 100vw;
  }
}

/* Smaller height */
@media (max-height: 1000px) and (min-width: 725px) {
  #before-and-after figure {
    background-size: auto 160vh;
  }
  #after {
    background-size: auto 160vh;
  }
}

/* Tiny height */
@media (max-height: 600px) and (min-width: 725px) {
  #before-and-after figure {
    background-size: auto 200vh;
  }
  #after {
    background-size: auto 200vh;
  }
}

/**
 * Range
 **/

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  cursor: ew-resize;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 46vh;
  top: -46vh;
  margin: 0;
}
input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 46vh;
  top: -46vh;
  margin: 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']:active {
  outline: none;
}

input[type='range']:active {
  border: none;
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 2px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
