.place-info {
  padding: 24px;
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
  justify-content: space-between;
  align-items: stretch;
}

.place-info--left {
  width: 40%;
}

.place-info--map {
  margin: 1.25em 0;
  border: 1px solid #e3e3e3;
  height: 50%;
  width: 100%;
}

.place-info--description {
  width: 55%;
}
