.place-info {
  padding: 1em 2em;
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 4em; // A bit bigger than Introduction columns because they are not justified
  grid-row-gap: 1em;
}

.place-info--left {
  z-index: 4;
}

.place-info--details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.place-info--downloads {
  margin-top: 1.25em;
}

.place-info--downloads * {
  color: #999;
  margin-right: 0.6em;
}

.place-info--map {
  margin: -3.5em 0 1.25em;
  border: 1px solid #e3e3e3;
  border: 2px solid white;
  height: 49%;
  width: 99%;
}

.details--left,
.details--right {
  width: 45%;
  min-width: 150px;
}

.details--left {
  padding-right: 2em;
}
