.place-info {
  padding: 1em;
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 4em; // A bit bigger than Introduction columns because they are not justified
  grid-row-gap: 1em;
}

.place-info--left {
  color: #999;
}
.place-info--downloads * {
  margin-right: 0.6em;
}

.place-info--map {
  margin: 1.75em 0 1.25em;
  border: 1px solid #e3e3e3;
  height: 49%;
  width: 99%;
}
