body {
  color: #424241;
  fill: currentcolor;
  padding-top: 60px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

table td {
  border: none !important;
}

.row hr {
  margin: 30px 0 10px 0;
  margin-left: -30px;
}

.container {
  padding-bottom: 24px !important;
}

.post .post-content blockquote ol {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
}

.post .post-content blockquote ol li,
.post ul li,
.post ol li {
  padding-left: 12px;
  line-height: 1.5em !important;
}

table td img {
  width: 100% !important;
  max-height: none;
}

blockquote {
  margin: 12px 20px !important;
  padding-left: 20px !important;
  border-left: 4px solid #f0f0f0 !important;
  color: #999;
}

blockquote > :first-child {
  padding-top: 0 !important;
}

blockquote > :last-child {
  padding-bottom: 0 !important;
}

.post-content div {
  padding-left: 0 important!;
  padding-right: 0 important!;
}

.post-content > div {
  display: block !important;
}

.post .post-content div div {
  padding: 0;
}

.post .post-content p,
.post .post-content > div {
  padding: 8px 0;
  margin: 0;
}

table,
tbody {
  display: block;
}

table tr {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

table tr > * {
  flex: 1 1 160px;
}

img {
  margin: 0;
  /* max-height: 30vh; */
}

a {
  color: #367da2 !important;
  padding-bottom: 1px;
  margin-bottom: -1px;
  border-bottom: 1px solid rgba(54, 125, 162, 0) !important;
  transition: border 0.15s ease-in;
}

a:hover,
a:active {
  color: #295f7c !important;
  border-bottom: 1px solid rgba(54, 125, 162, 0.4) !important;
  text-decoration: none !important;
  transition: border 0.15s ease-in;
}

a:visited {
  text-decoration: none;
}

.centered-heart {
  margin-top: 20px;
  text-align: center;
  color: #aaa;
}

.devon-box {
  display: inline-block;
  padding: 8px 10px 7px 10px;
  margin: 0 -10px 15px -10px;
  text-align: center;
  transition: background 0.15s ease-in;
  background: #367da2 !important;
}

.devon-box:hover {
  background: #2f7398 !important;
  transition: background 0.15s ease-in;
}

.devon-box a {
  color: white !important;
}

.container .post .post-content ul {
  padding: 0;
}

.keep-in-touch--wrapper {
  text-align: center;
}

.keep-in-touch {
  margin: 35px 0 10px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 4px 10px;
  fill: #367da2;
  color: #367da2;
  border: 1px solid #367da2;
}

.keep-in-touch:hover {
  cursor: pointer;
  fill: #295f7c;
  color: #295f7c;
  border: 1px solid #295f7c;
}

.keep-in-touch > * {
  margin: 0 4px;
}

.keep-in-touch--twitter > svg {
  margin-top: 4px;
}
