body {
  margin: 0;
  color: #424241;
  fill: currentcolor;
  padding-top: 2vh;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.content {
  padding: 24px;
  max-width: 1040px;
  margin: auto;
}
